<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dadolun" translate="label" sortOrder="10">
            <label>Dadolun</label>
        </tab>
        <section id="dadolun_menu" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Dadolun MegaMenu</label>
            <tab>dadolun</tab>
            <resource>Dadolun_MegaMenu::config</resource>
            <group id="menu" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>MegaMenu</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dadolun MegaMenu as main MegaMenu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="menu" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>MegaMenu to use as main menu</label>
                    <validate>required-entry</validate>
                    <source_model>Dadolun\MegaMenu\Model\Config\Source\Menu</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
